.trips {
  @include dimensions(80vh, 80vw);
  @include flexColumn;
  align-items: center;
  overflow: hidden;
}

.card-container{
@include dimensions(50vh, 70vw);
overflow-y: scroll;
}

.trip-cards {
  @include dimensions(auto, 80%);
  margin-top: 3%;
  box-sizing: border-box;
}

// .img-wrap {
//   @include dimensions(30vh, 30vw);
// }

.trip-img {
  max-height: auto;
  max-width: 40%;
}

.trip-btn {
  @include button-style;
  @include dimensions(10vh, auto)
  font-family: $main-font;
  font-size: 1.1em;
}

.trip-header {
  margin-top: 10px;
  font-size: $font-title;
}
