.loginPage {
  @include section-background();
  @include dimensions(50vh, 50vw);
  @include center-section;
  box-sizing: border-box;
  @include flexColumn();
}

.login-form {
  @include flexColumn();
}

.login-title {
  margin-bottom: 10%;
}

.login-form-field {
  @include dimensions(auto, 20vw);
}

.invalid-login {
  color: black;
  margin-bottom: 50px;
}
