
@media screen and (max-width: 800px) {
  .header {
    font-size: .8em;
  }

  .trips {
    margin-top: 20px;
  }

  .trip-btn {
    @include dimensions(1px, auto);
    font-size: 70%;
    height: 7vh;
  }

  .trip-btn-container {
    display: flex;
  }
}
