@media screen and (max-width: 800px) {

  .header {
    font-size: .8em;
  }

  .trips {
    margin-top: 20px;
  }

  .trip-btn {
    @include dimensions(1px, auto);
    font-size: 70%;
    height: 7vh;
  }

  .trip-btn-container {
    display: flex;
  }

  .modal-content {
    font-size: 40%;
  }

  .trip-choice {
    width: 60%
  }

  .card-container {
    width: 85vw;
  }
}

@media screen and (max-width: 625px) {

  .trip-cards {
    .destination-name {
      height: 10%;
      font-size: 1em;
    }
    .trip-img {
      max-height: 90%;
    }
    p {
      font-size: .75em;
    }
  }
}
