@mixin dimensions($height, $width) {
  height: $height;
  width: $width;
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
}
