/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';
@import 'mediaqueries';
@import 'mixin';
@import 'reset';
@import 'modal';
@import 'carddisplay';

$primary-background: white;
;
html {
  @include dimensions(100vh, 100vw);
}

body {
  @include dimensions(auto, 100vw)
  background: $primary-background;
}

.hidden {
  display: none;
}
