/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';
@import 'mixin';
@import 'reset';
@import 'modal';
@import 'carddisplay';
@import 'login';
@import 'header';
@import 'mediaqueries';


html {
  @include dimensions(100vh, 100vw);
  box-sizing: border-box;
}

body {
  @include dimensions(100vh, 100vw);
  @include center-section();
  background: $primary-background no-repeat;
  background-size: cover;
  background-position: center;
  font-family: $main-font;
}

main {
  @include dimensions(90vh, 90vw);
  @include flexColumn;
  @include center-section;
  @include section-background;
  box-sizing: border-box;
}

// svg {
//   display: none;
// }

.hidden {
  display: none;
}
